form(action="/new", method="post")
 section.input-section
  label(for="name") Name : 
  input(type="text" placeholder="Enter your name" id="name")
 section.input-section
  label(for="mesage") Simple message to the world : 
  input(type="text" placeholder="Enter your message" id="message")
 button(type="submit") Add

