form(action="/new", method="post")
 label(for="name") Name : 
 input(type="text" placeholder="Enter your name" id="name")
 label(for="mesage") Message : 
 input(type="text" placeholder="Enter your message" id="message")
 section 
    a(href="/") Cancel
    button(type="submit") Create 

