form(action="/new", method="post")
 section.input-section
  label(for="user") Name : 
  input(type="text" placeholder="Enter your name" id="user" name="user" autoComplete="off")
 section.input-section
  label(for="message") Simple message to the world : 
  input(type="text" placeholder="Enter your message" id="message" name="message" autoComplete="off")
 button(type="submit") Add

