extends layout

block content
  div#home-wrapper
    h2 All messages
    ul
      each message in messages
        div.message-box
          h3 From: #{message.user}
          h4= message.message
          p= message.createdAt