doctype html
html
  head
    title The Board | Message Board
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div#wrapper
    nav 
      a(href="/")#company-name The Board
      ul 
        li 
          a(href="/") Home
        li 
          a(href="/new") Write
    block content
